{% if http_client.source_interface is vyos_defined %}
--interface "{{ http_client.source_interface }}"
{% endif %}
{% if http_client.source_address is vyos_defined %}
--interface "{{ http_client.source_address }}"
{% endif %}
