{% set vrf_command = 'ip vrf exec ' ~ vrf ~ ' ' if vrf is vyos_defined else '' %}
[Unit]
ConditionPathExists={{ config_file }}
After=vyos-router.service

[Service]
PIDFile={{ config_file | replace('.conf', '.pid') }}
EnvironmentFile=
ExecStart=
ExecStart={{ vrf_command }}/usr/bin/ddclient -file {{ config_file }}
