[Unit]
Description=Accel-PPP/L2TP
After=vyos-router.service

[Service]
ExecStart=/usr/sbin/accel-pppd -d -p /run/accel-pppd-l2tp.pid -c /etc/accel-ppp/l2tp.conf
ExecReload=/bin/kill -SIGUSR1 $MAINPID
PIDFile=/run/accel-pppd-l2tp.pid
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target
Alias=accel-ppp-l2tp.service
