[Unit]
Description=Dynamic DNS Update Client
RequiresMountsFor=/run
ConditionPathExists=/run/ddclient/ddclient.conf
After=vyos-router.service

[Service]
WorkingDirectory=/run/ddclient
Type=forking
PIDFile=/run/ddclient/ddclient.pid
ExecStart=/usr/sbin/ddclient -cache /run/ddclient/ddclient.cache -pid /run/ddclient/ddclient.pid -file /run/ddclient/ddclient.conf

[Install]
WantedBy=multi-user.target
