[Unit]
Description=DHCP client on %i (IPv4)
Documentation=man:dhclient(8)
RequiresMountsFor=/run
ConditionPathExists=/run/dhclient/%i.conf
ConditionPathExists=/run/dhclient/%i.options
After=vyos-router.service

[Service]
WorkingDirectory=/run/dhclient
Type=simple
EnvironmentFile=-/run/dhclient/%i.options
PIDFile=/run/dhclient/%i.pid
ExecStart=/sbin/dhclient -4 $DHCLIENT_OPTS
ExecStop=/sbin/dhclient -4 $DHCLIENT_OPTS -r
Restart=always

[Install]
WantedBy=multi-user.target
