[Unit]
Description=WIDE DHCPv6 client on %i
Documentation=man:dhcp6c(8) man:dhcp6c.conf(5)
StartLimitIntervalSec=0
After=vyos-router.service

[Service]
Type=forking
WorkingDirectory=/run/dhcp6c
EnvironmentFile=-/run/dhcp6c/dhcp6c.%i.options
PIDFile=/run/dhcp6c/dhcp6c.%i.pid
ExecStart=/usr/sbin/dhcp6c $DHCP6C_OPTS
Restart=always
RestartPreventExitStatus=
RestartSec=10
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=multi-user.target
