[Unit]
Description=IGMP Proxy
After=vyos-router.service

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/igmpproxy start
ExecStop=/etc/init.d/igmpproxy stop

[Install]
WantedBy=multi-user.target
