[Unit]
Description=ISC DHCP IPv4 server
Documentation=man:dhcpd(8)
After=vyos-router.service
RequiresMountsFor=/run
After=time-sync.target
ConditionPathExists=/etc/dhcp/dhcpd.conf

[Service]

RuntimeDirectory=dhcp-server
# The leases files need to be root:vyattacfg even when dropping privileges
ExecStart=/bin/sh -ec '\
    CONFIG_FILE=/run/dhcp-server/dhcpd.conf; \
    [ -e /config/dhcpd.leases ] || touch /config/dhcpd.leases; \
    chown root:vyattacfg /config/dhcpd.leases; \
    chmod 664 /config/dhcpd.leases; \
    exec /usr/sbin/dhcpd -user nobody -group nogroup -f -4 -pf /run/dhcp-server/dhcpd.pid -cf $CONFIG_FILE -lf /config/dhcpd.leases'

[Install]
WantedBy=multi-user.target
