[Unit]
Description=ISC DHCP IPv6 relay
Documentation=man:dhcrelay(8)
Wants=network-online.target
ConditionPathExists=/run/dhcp-relay/dhcpv6.conf
After=vyos-router.service

[Service]
WorkingDirectory=/run/dhcp-relay
EnvironmentFile=/run/dhcp-relay/dhcpv6.conf
ExecStart=/usr/sbin/dhcrelay -d -6 $OPTIONS

[Install]
WantedBy=multi-user.target
