[Unit]
Description=ISC DHCP IPv4 server
Documentation=man:dhcpd(8)
RequiresMountsFor=/run
ConditionPathExists=/run/dhcp-server/dhcpd.conf
After=vyos-router.service

[Service]
WorkingDirectory=/run/dhcp-server
ExecStart=/bin/sh -ec '\
    CONFIG_FILE=/run/dhcp-server/dhcpd.conf; \
    [ -e /config/dhcpd.leases ] || touch /config/dhcpd.leases; \
    chown nobody:nogroup /config/dhcpd.leases*; \
    chmod 664 /config/dhcpd.leases*; \
    exec /usr/sbin/dhcpd -user nobody -group nogroup -f -4 -pf /run/dhcp-server/dhcpd.pid -cf $CONFIG_FILE -lf /config/dhcpd.leases'

[Install]
WantedBy=multi-user.target
