[Unit]
Description=LCD display daemon on %I
Documentation=man:LCDd(8) http://www.lcdproc.org/

[Service]
User=root
ExecStart=/usr/sbin/LCDd -s 1 -f -c /run/LCDd/LCDd.%I.conf

[Install]
WantedBy=multi-user.target