[Unit]
Description=LCDproc system status information viewer on %I
Documentation=man:lcdproc(8) http://www.lcdproc.org/

[Service]
User=root
ExecStart=/usr/bin/lcdproc -f -c /run/lcdproc/lcdproc.%I.conf

[Install]
WantedBy=multi-user.target