[Unit]
Description=OpenNHRP
After=vyos-router.service
ConditionPathExists=/run/opennhrp/opennhrp.conf
StartLimitIntervalSec=0

[Service]
Type=forking
ExecStart=/usr/sbin/opennhrp -d -v -a /run/opennhrp.socket -c /run/opennhrp/opennhrp.conf -s /etc/opennhrp/opennhrp-script.py -p /run/opennhrp/opennhrp.pid
ExecReload=/usr/bin/kill -HUP $MAINPID
PIDFile=/run/opennhrp/opennhrp.pid
Restart=on-failure
RestartSec=20
