[Unit]
Description=Dialing PPP connection %I
After=vyos-router.service

[Service]
ExecStart=/usr/sbin/pppd call %I nodetach nolog
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
