[Unit]
Description=VyOS root partition auto resizing
After=multi-user.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/libexec/vyos/op_mode/force_root-partition-auto-resize.sh 

[Install]
WantedBy=vyos.target