[Unit]
Description=Serial to Network Proxy
ConditionPathExists=/run/ser2net/ser2net.conf
After=vyos-router.service

[Service]
WorkingDirectory=/run/ser2net
PIDFile=/run/ser2net/ser2net.pid
ExecStart=/usr/sbin/ser2net -n -c /run/ser2net/ser2net.conf -P /run/ser2net/ser2net.pid -p localhost,2000
Restart=always

[Install]
WantedBy=multi-user.target
