[Unit]
Description=VyOS DNS configuration keeper
DefaultDependencies=no
After=systemd-remount-fs.service

[Service]
ExecStart=/usr/bin/python3 -u /usr/libexec/vyos/services/vyos-hostsd
Type=idle
KillMode=process

SyslogIdentifier=vyos-hostsd
SyslogFacility=daemon

Restart=on-failure

# Does't work but leave it here
User=root
Group=vyattacfg

[Install]
RequiredBy=cloud-init-local.service vyos-router.service
