[Unit]
Description=VyOS firewall domain resolver
After=vyos-router.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 -u /usr/libexec/vyos/vyos-domain-resolver.py
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target
