[Unit]
Description=VyOS HTTP API service
After=auditd.service systemd-user-sessions.service time-sync.target vyos-router.service
Requires=vyos-router.service

[Service]
ExecStart=/usr/bin/python3 -u /usr/libexec/vyos/services/vyos-http-api-server
Type=notify
KillMode=process

SyslogIdentifier=vyos-http-api
SyslogFacility=daemon

Restart=on-failure

User=root
Group=vyattacfg

[Install]
WantedBy=vyos.target
