[Unit]
Description=VyOS WAN Load Balancer
After=vyos-router.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/libexec/vyos/vyos-load-balancer.py

[Install]
WantedBy=multi-user.target
