[Unit]
Description=VyOS DNS configuration keeper

# Without this option, lots of default dependencies are added,
# among them network.target, which creates a dependency cycle
DefaultDependencies=no

# Seemingly sensible way to say "as early as the system is ready"
# All vyos-hostsd needs is read/write mounted root
After=systemd-remount-fs.service cloud-init.service

[Service]
WorkingDirectory=/run/vyos-hostsd
RuntimeDirectory=vyos-hostsd
RuntimeDirectoryPreserve=yes
ExecStart=/usr/bin/python3 -u /usr/libexec/vyos/services/vyos-hostsd
Type=idle
KillMode=process

SyslogIdentifier=vyos-hostsd
SyslogFacility=daemon

Restart=on-failure

# Does't work in Jessie but leave it here
User=root
Group=hostsd

[Install]

# Note: After= doesn't actually create a dependency,
# it just sets order for the case when both services are to start,
# and without RequiredBy it *does not* set vyos-hostsd to start.
RequiredBy=cloud-init-local.service vyos-router.service
