[Unit]
Description=VyOS HTTP API service
After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
ExecStart=/usr/bin/python3 -u /usr/libexec/vyos/services/vyos-http-api-server
KillMode=process

SyslogIdentifier=vyos-http-api
SyslogFacility=daemon

# Does't work but leave it here
User=root
Group=vyattacfg

[Install]
WantedBy=multi-user.target

