!
bfd
{% if peer is defined and peer is not none %}
{%   for peer_name, peer_config in peer.items() %}
 peer {{ peer_name }}{{ ' multihop' if peer_config.multihop is defined }}{{ ' local-address ' + peer_config.source.address if peer_config.source is defined and peer_config.source.address is defined }}{{ ' interface ' + peer_config.source.interface if peer_config.source is defined and peer_config.source.interface is defined }}
  detect-multiplier {{ peer_config.interval.multiplier }}
  receive-interval {{ peer_config.interval.receive }}
  transmit-interval {{ peer_config.interval.transmit }}
{%     if peer_config.interval.echo_interval is defined and peer_config.interval.echo_interval is not none %}
 echo-interval {{ peer_config.interval.echo_interval }}
{%     endif %}
{%     if peer_config.echo_mode is defined %}
  echo-mode
{%     endif %}
{%     if peer_config.shutdown is defined %}
  shutdown
{%     else %}
  no shutdown
{%     endif %}
 !
{%   endfor %}
{% endif %}
!
