#
# The watchfrr, zebra, mgmtd and staticd daemons are always started.
#
# Note: The following FRR-services must be kept disabled because they are replaced by other packages in VyOS:
#
# pimd   Replaced by package igmpproxy.
# nhrpd  Replaced by package opennhrp.
# pbrd   Replaced by PBR in nftables.
# vrrpd  Replaced by package keepalived.
#
# And these must be disabled aswell since they are currently missing a VyOS CLI:
#
# eigrp
# sharpd
# fabricd
# pathd
#
# The zebra, mgmtd and staticd daemons are always started and can not be disabled
#
#zebra=yes
#mgmtd=yes
#staticd=yes

bgpd=yes
ospfd=yes
ospf6d=yes
ripd=yes
ripngd=yes
isisd=yes
pimd=no
pim6d=yes
ldpd=yes
nhrpd=no
eigrpd=no
babeld=yes
sharpd=no
pbrd=no
bfdd=yes
fabricd=yes
vrrpd=no
pathd=no

#
# Define defaults for all services even those who shall be kept disabled.
#

zebra_options="  --daemon -A 127.0.0.1 -s 90000000{{ ' -M snmp' if snmp.zebra is vyos_defined }}{{ ' -M irdp' if irdp is vyos_defined }}"
mgmtd_options="  --daemon -A 127.0.0.1"
staticd_options="--daemon -A 127.0.0.1"
bgpd_options="   --daemon -A 127.0.0.1 -M rpki{{ ' -M snmp' if snmp.bgpd is vyos_defined }}{{ ' -M bmp' if bmp is vyos_defined }}"
ospfd_options="  --daemon -A 127.0.0.1{{ ' -M snmp' if snmp.ospfd is vyos_defined }}"
ospf6d_options=" --daemon -A ::1{{ ' -M snmp' if snmp.ospf6d is vyos_defined }}"
ripd_options="   --daemon -A 127.0.0.1{{ ' -M snmp' if snmp.ripd is vyos_defined }}"
ripngd_options=" --daemon -A ::1"
isisd_options="  --daemon -A 127.0.0.1{{ ' -M snmp' if snmp.isisd is vyos_defined }}"
pimd_options="   --daemon -A 127.0.0.1"
pim6d_options="  --daemon -A ::1"
ldpd_options="   --daemon -A 127.0.0.1{{ ' -M snmp' if snmp.ldpd is vyos_defined }}"
nhrpd_options="  --daemon -A 127.0.0.1"
eigrpd_options=" --daemon -A 127.0.0.1"
babeld_options=" --daemon -A 127.0.0.1"
sharpd_options=" --daemon -A 127.0.0.1"
pbrd_options="   --daemon -A 127.0.0.1"
bfdd_options="   --daemon -A 127.0.0.1"
fabricd_options="--daemon -A 127.0.0.1"
vrrpd_options="  --daemon -A 127.0.0.1"
pathd_options="  --daemon -A 127.0.0.1"

#frr_global_options=""

#zebra_wrap=""
#mgmtd_wrap=""
#staticd_wrap=""
#bgpd_wrap=""
#ospfd_wrap=""
#ospf6d_wrap=""
#ripd_wrap=""
#ripngd_wrap=""
#isisd_wrap=""
#pimd_wrap=""
#pim6d_wrap=""
#ldpd_wrap=""
#nhrpd_wrap=""
#eigrpd_wrap=""
#babeld_wrap=""
#sharpd_wrap=""
#pbrd_wrap=""
#bfdd_wrap=""
#fabricd_wrap=""
#vrrpd_wrap=""
#pathd_wrap=""

#all_wrap=""

#
# Other options.
#
# For more information see:
# https://github.com/FRRouting/frr/blob/stable/9.0/tools/etc/frr/daemons
# https://docs.frrouting.org/en/stable-9.0/setup.html
#

vtysh_enable=yes
watchfrr_enable=yes
valgrind_enable=no

#watchfrr_options=""

frr_profile="traditional"

MAX_FDS={{ descriptors }}

#FRR_NO_ROOT="yes"
