!
{% if mpls_ldp -%}
mpls ldp
{% if old_router_id -%}
no router-id {{ old_router_id }}
{% endif -%}
{% if router_id -%}
router-id {{ router_id }}
{% endif -%}
{% for neighbor_id in old_ldp.neighbors -%}
no neighbor {{neighbor_id}} password {{old_ldp.neighbors[neighbor_id].password}}
{% endfor -%}
{% for neighbor_id in ldp.neighbors -%}
neighbor {{neighbor_id}} password {{ldp.neighbors[neighbor_id].password}}
{% endfor -%}
address-family ipv4
label local allocate host-routes
{% if old_ldp.export_ipv4_exp -%}
no label local advertise explicit-null
{% endif -%}
{% if ldp.export_ipv4_exp -%}
label local advertise explicit-null
{% endif -%}
{% if old_ldp.d_transp_ipv4 -%}
no discovery transport-address {{ old_ldp.d_transp_ipv4 }}
{% endif -%}
{% if ldp.d_transp_ipv4 -%}
discovery transport-address {{ ldp.d_transp_ipv4 }}
{% endif -%}
{% if old_ldp.hello_holdtime -%}
no  discovery hello holdtime {{ old_ldp.hello_holdtime }}
{% endif -%}
{% if ldp.hello_holdtime -%}
discovery hello holdtime {{ ldp.hello_holdtime }}
{% endif -%}
{% if old_ldp.hello_interval -%}
no discovery hello interval {{ old_ldp.hello_interval }}
{% endif -%}
{% if ldp.hello_interval -%}
discovery hello interval {{ ldp.hello_interval }}
{% endif -%}
{% if old_ldp.ses_ipv4_hold -%}
no  session holdtime {{ old_ldp.ses_ipv4_hold }}
{% endif -%}
{% if ldp.ses_ipv4_hold -%}
session holdtime {{ ldp.ses_ipv4_hold }}
{% endif -%}
{% for interface in old_ldp.interfaces -%}
no interface {{interface}}
{% endfor -%}
{% for interface in ldp.interfaces -%}
interface {{interface}}
{% endfor -%}
{% if old_ldp.param_cisco_tlv -%}
no dual-stack cisco-interop
{% endif -%}
{% if ldp.param_cisco_tlv -%}
dual-stack cisco-interop
{% endif -%}
{% if old_ldp.param_transp_pref_ipv4 -%}
no dual-stack transport-connection prefer ipv4
{% endif -%}
{% if ldp.param_transp_pref_ipv4 -%}
dual-stack transport-connection prefer ipv4
{% endif -%}
!
!
exit-address-family
!
{% if ldp.d_transp_ipv6 -%}
address-family ipv6
label local allocate host-routes
{% if old_ldp.export_ipv6_exp -%}
no label local advertise explicit-null
{% endif -%}
{% if ldp.export_ipv6_exp -%}
label local advertise explicit-null
{% endif -%}
{% if old_ldp.ses_ipv6_hold -%}
no  session holdtime {{ old_ldp.ses_ipv6_hold }}
{% endif -%}
{% if ldp.ses_ipv6_hold -%}
session holdtime {{ ldp.ses_ipv6_hold }}
{% endif -%}
{% if old_ldp.d_transp_ipv6 -%}
no discovery transport-address {{ old_ldp.d_transp_ipv6 }}
{% endif -%}
{% if ldp.d_transp_ipv6 -%}
discovery transport-address {{ ldp.d_transp_ipv6 }}
{% endif -%}
{% for interface in old_ldp.interfaces -%}
no interface {{interface}}
{% endfor -%}
{% for interface in ldp.interfaces -%}
interface {{interface}}
{% endfor -%}
!
exit-address-family
{% else -%}
no address-family ipv6
{% endif -%}
!
{% else -%}
no mpls ldp
{% endif -%}
!

