!
{% if redirect is vyos_defined %}
nhrp nflog-group {{ redirect }}
{% endif %}
{% if multicast is vyos_defined %}
nhrp multicast-nflog-group {{ multicast }}
{% endif %}
{% if tunnel is vyos_defined %}
{%     for iface, iface_config in tunnel.items() %}
interface {{ iface }}
{%         if iface_config.authentication is vyos_defined %}
 ip nhrp authentication {{ iface_config.authentication }}
{%         endif %}
{%         if iface_config.holdtime is vyos_defined %}
 ip nhrp holdtime {{ iface_config.holdtime }}
{%         endif %}
{%         if iface_config.map.tunnel_ip is vyos_defined %}
{%             for tunip, tunip_config in iface_config.map.tunnel_ip.items() %}
{%                 if tunip_config.nbma is vyos_defined %}
 ip nhrp map {{ tunip }} {{ tunip_config.nbma }}
{%                 endif %}
{%             endfor %}
{%         endif %}
{%         if iface_config.mtu is vyos_defined %}
 ip nhrp mtu {{ iface_config.mtu }}
{%         endif %}
{%         if iface_config.multicast is vyos_defined %}
{%             for multicast_ip in iface_config.multicast %}
 ip nhrp map multicast {{ multicast_ip }}
{%             endfor %}
{%         endif %}
{%         if iface_config.nhs.tunnel_ip is vyos_defined %}
{%             for tunip, tunip_config in iface_config.nhs.tunnel_ip.items() %}
{%                 if tunip_config.nbma is vyos_defined %}
{%                     for nbmaip in tunip_config.nbma %}
 ip nhrp nhs {{ tunip }} nbma {{ nbmaip }}
{%                     endfor %}
{%                 endif %}
{%             endfor %}
{%         endif %}
{%         if iface_config.network_id is vyos_defined %}
 ip nhrp network-id {{ iface_config.network_id }}
{%         endif %}
{%         if iface_config.redirect is vyos_defined %}
 ip nhrp redirect
{%         endif %}
{%         if iface_config.registration_no_unique is vyos_defined %}
 ip nhrp registration no-unique
{%         endif %}
{%         if iface_config.shortcut is vyos_defined %}
 ip nhrp shortcut
{%         endif %}
{%         if iface_config.security_profile is vyos_defined %}
 tunnel protection vici profile dmvpn-{{ iface_config.security_profile }}-{{ iface }}-child
{%         endif %}
exit
!
{%     endfor %}
{% endif %}
!
