!
{% for rp_addr in old_pim.rp %}
{%     for group in old_pim.rp[rp_addr] %}
no ip pim rp {{ rp_addr }} {{ group }}
{%     endfor %}
{% endfor %}
{% if old_pim.rp_keep_alive %}
no ip pim rp keep-alive-timer {{ old_pim.rp_keep_alive }}
{% endif %}
{% for iface in old_pim.ifaces %}
interface {{ iface }}
no ip pim
!
{% endfor %}
{% for interface, interface_config in pim.ifaces.items() %}
interface {{ interface }}
ip pim
{%     if interface_config.dr_prio %}
ip pim drpriority {{ interface_config.dr_prio }}
{%     endif %}
{%     if interface_config.hello %}
ip pim hello {{ interface_config.hello }}
{%     endif %}
{%     if interface_config.bfd is vyos_defined('enable') %}
ip pim bfd
{%     endif %}
!
{% endfor %}
{% for rp_addr in pim.rp %}
{%     for group in pim.rp[rp_addr] %}
ip pim rp {{ rp_addr }} {{ group }}
{%     endfor %}
{% endfor %}
{% if pim.rp_keep_alive %}
ip pim rp keep-alive-timer {{ pim.rp_keep_alive }}
{% endif %}
!
