{% if default_information is defined and default_information.originate is defined %}
 default-information originate
{% endif %}
{% if default_metric is defined and default_metric is not none %}
 default-metric {{ default_metric }}
{% endif %}
{% if passive_interface is defined and passive_interface is not none %}
{%   for interface in passive_interface %}
 passive-interface {{ interface }}
{%   endfor %}
{% endif %}
{% if network is defined and network is not none %}
{%   for prefix in network %}
 network {{ prefix }}
{%   endfor %}
{% endif %}
{% if interface is defined and interface is not none %}
{%   for ifname in interface %}
 network {{ ifname }}
{%   endfor %}
{% endif %}
{% if route is defined and route is not none %}
{%   for prefix in route %}
 route {{ prefix }}
{%   endfor %}
{% endif %}
{# timers have default values #}
 timers basic {{ timers['update'] }} {{ timers.timeout }} {{ timers.garbage_collection }}
{% if redistribute is defined and redistribute is not none %}
{%   for protocol, protocol_config in redistribute.items() %}
{%     if protocol == 'ospfv3' %}
{%       set protocol = 'ospf6' %}
{%     endif %}
 redistribute {{ protocol }} {{ 'metric ' + protocol_config.metric if protocol_config.metric is defined }} {{ 'route-map ' + protocol_config.route_map if protocol_config.route_map is defined }}
{%   endfor %}
{% endif %}
