{# Interface specific configuration #}
{% if interface is vyos_defined %}
{%     for iface, iface_config in interface.items() %}
interface {{ iface }}
{%         if iface_config.split_horizon.disable is vyos_defined %}
 no ipv6 rip split-horizon
{%         endif %}
{%         if iface_config.split_horizon.poison_reverse is vyos_defined %}
 ipv6 rip split-horizon poisoned-reverse
{%         endif %}
exit
{%     endfor %}
{% endif %}
!
router ripng
{% if aggregate_address is vyos_defined %}
{%     for prefix in aggregate_address %}
 aggregate-address {{ prefix }}
{%     endfor %}
{% endif %}
{% if distribute_list is vyos_defined %}
{%     if distribute_list.access_list.in is vyos_defined %}
 ipv6 distribute-list {{ distribute_list.access_list.in }} in
{%     endif %}
{%     if distribute_list.access_list.out is vyos_defined %}
 ipv6 distribute-list {{ distribute_list.access_list.out }} out
{%     endif %}
{%     if distribute_list.interface is vyos_defined %}
{%         for interface, interface_config in distribute_list.interface.items() %}
{%             if interface_config.access_list.in is vyos_defined %}
 ipv6 distribute-list {{ interface_config.access_list.in }} in {{ interface }}
{%             endif %}
{%             if interface_config.access_list.out is vyos_defined %}
 ipv6 distribute-list {{ interface_config.access_list.out }} out {{ interface }}
{%             endif %}
{%             if interface_config.prefix_list.in is vyos_defined %}
 ipv6 distribute-list prefix {{ interface_config.prefix_list.in }} in {{ interface }}
{%             endif %}
{%             if interface_config.prefix_list.out is vyos_defined %}
 ipv6 distribute-list prefix {{ interface_config.prefix_list.out }} out {{ interface }}
{%             endif %}
{%         endfor %}
{%     endif %}
{%     if distribute_list.prefix_list.in is vyos_defined %}
 ipv6 distribute-list prefix {{ distribute_list.prefix_list.in }} in
{%     endif %}
{%     if distribute_list.prefix_list.out is vyos_defined %}
 ipv6 distribute-list prefix {{ distribute_list.prefix_list.out }} out
{%     endif %}
{% endif %}
{% include 'frr/rip_ripng.frr.j2' %}
exit
!
{% if route_map is vyos_defined %}
ipv6 protocol ripng route-map {{ route_map }}
{% endif %}
!
