{% from 'frr/static_routes_macro.j2' import static_routes %}
!
{% set ip_prefix = 'ip' %}
{% set ipv6_prefix = 'ipv6' %}
{% if vrf is vyos_defined %}
{#     We need to add an additional whitespace in front of the prefix #}
{#     when VRFs are in use, thus we use a variable for prefix handling #}
{%     set ip_prefix = ' ip' %}
{%     set ipv6_prefix = ' ipv6' %}
vrf {{ vrf }}
{% endif %}
{# IPv4 routing #}
{% if route is vyos_defined %}
{%     for prefix, prefix_config in route.items() %}
{{ static_routes(ip_prefix, prefix, prefix_config) }}
{%     endfor %}
{% endif %}
{# IPv4 default routes from DHCP interfaces #}
{% if dhcp is vyos_defined %}
{%     for interface, interface_config in dhcp.items() if interface_config.dhcp_options.no_default_route is not vyos_defined %}
{%         set next_hop = interface | get_dhcp_router %}
{%         if next_hop is vyos_defined %}
{{ ip_prefix }} route 0.0.0.0/0 {{ next_hop }} {{ interface }} tag 210 {{ interface_config.dhcp_options.default_route_distance if interface_config.dhcp_options.default_route_distance is vyos_defined }}
{%         endif %}
{%     endfor %}
{% endif %}
{# IPv4 default routes from PPPoE interfaces #}
{% if pppoe is vyos_defined %}
{%     for interface, interface_config in pppoe.items() if interface_config.no_default_route is not vyos_defined %}
{{ ip_prefix }} route 0.0.0.0/0 {{ interface }} tag 210 {{ interface_config.default_route_distance if interface_config.default_route_distance is vyos_defined }}
{%     endfor %}
{% endif %}
{# IPv6 routing #}
{% if route6 is vyos_defined %}
{%     for prefix, prefix_config in route6.items() %}
{{ static_routes(ipv6_prefix, prefix, prefix_config) }}
{%     endfor %}
{% endif %}
{% if vrf is vyos_defined %}
exit-vrf
{% endif %}
!
{# Policy route tables #}
{% if table is vyos_defined %}
{%     for table_id, table_config in table.items() %}
{%         if table_config.route is vyos_defined %}
{%             for prefix, prefix_config in table_config.route.items() %}
{{ static_routes('ip', prefix, prefix_config, table_id) }}
{%             endfor %}
{%         endif %}
!
{%         if table_config.route6 is vyos_defined %}
{%             for prefix, prefix_config in table_config.route6.items() %}
{{ static_routes('ipv6', prefix, prefix_config, table_id) }}
{%             endfor %}
{%         endif %}
!
{%     endfor %}
{% endif %}
!
{% if route_map is vyos_defined %}
ip protocol static route-map {{ route_map }}
!
{% endif %}
