!
{% if vrf is vyos_defined and route_map is vyos_defined %}
vrf {{ vrf }}
 ip protocol {{ protocol }} route-map {{ route_map }}
 exit-vrf
!
{% elif route_map is vyos_defined %}
ip protocol {{ protocol }} route-map {{ route_map }}
{% endif %}
!
