!
{{ 'no ' if disable_forwarding is vyos_defined }}{{ afi }} forwarding
!
{% if import_table is vyos_defined %}
{%     for table_num, table_config in import_table.items() %}
ip import-table {{ table_num }} {{ 'distance ' ~ table_config.distance if table_config.distance is vyos_defined }} {{ 'route-map ' ~ table_config.route_map if table_config.route_map is vyos_defined }}
{%     endfor %}
{% endif %}
!
{% if nht.no_resolve_via_default is vyos_defined %}
no {{ afi }} nht resolve-via-default
{% endif %}
!
{% if protocol is vyos_defined %}
{%     for protocol_name, protocol_config in protocol.items() %}
{%         if protocol_name is vyos_defined('ospfv3') %}
{%             set protocol_name = 'ospf6' %}
{%         endif %}
{{ afi }} protocol {{ protocol_name }} route-map {{ protocol_config.route_map }}
{%     endfor %}
{% endif %}
!
