urllib3==2.7.0
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinx-autobuild==2021.3.14
sphinx-notfound-page==1.0.0
lxml==6.1.0
myst-parser==2.0.0
sphinx_design==0.5.0
sphinx-llms-txt==0.7.1
sphinx-sitemap==2.9.0