# username  server  password  acceptable local IP addresses   shaper
{% for user in local_users %}
{%     if user.state == 'enabled' %}
{%         if user.upload and user.download %}
{{ "%-12s" | format(user.name) }} * {{ "%-16s" | format(user.password) }} {{ "%-16s" | format(user.ip) }} {{ user.download }}/{{ user.upload }}
{%         else %}
{{ "%-12s" | format(user.name) }} * {{ "%-16s" | format(user.password) }} {{ "%-16s" | format(user.ip) }}
{%         endif %}
{%     endif %}
{% endfor %}
