# username  server  password  acceptable local IP addresses   shaper
{% for interface in auth_interfaces -%}
{% for mac in interface.mac -%}
{% if mac.rate_upload and mac.rate_download -%}
{% if mac.vlan_id -%}
{{ interface.name }}.{{ mac.vlan_id }} * {{ mac.address | lower }} * {{ mac.rate_download }}/{{ mac.rate_upload }}
{% else -%}
{{ interface.name }} * {{ mac.address | lower }}  * {{ mac.rate_download }}/{{ mac.rate_upload }}
{% endif -%}
{% else -%}
{% if mac.vlan_id -%}
{{ interface.name }}.{{ mac.vlan_id }} * {{ mac.address | lower }} *
{% else -%}
{{ interface.name }} * {{ mac.address | lower }}  *
{% endif -%}
{% endif -%}
{% endfor -%}
{% endfor -%}
