{% if authentication.mode is vyos_defined('radius') or shaper is vyos_defined %}
[shaper]
verbose=1
down-limiter=tbf
{%     if authentication.radius.rate_limit.enable is vyos_defined %}
attr={{ authentication.radius.rate_limit.attribute }}
{%         if authentication.radius.rate_limit.vendor is vyos_defined %}
vendor={{ authentication.radius.rate_limit.vendor }}
{%         endif %}
{%         if authentication.radius.rate_limit.multiplier is vyos_defined %}
rate-multiplier={{ authentication.radius.rate_limit.multiplier }}
{%         endif %}
{%     endif %}
{%     if shaper is vyos_defined %}
{%         if shaper.fwmark is vyos_defined %}
fwmark={{ shaper.fwmark }}
{%         endif %}
{%     endif %}
{% endif %}