{% if client_ip_pool is vyos_defined %}
[ip-pool]
{%     if gateway_address is vyos_defined %}
gw-ip-address={{ gateway_address }}
{%     endif %}
{%     if client_ip_pool.start is vyos_defined and client_ip_pool.stop is vyos_defined %}
{{ client_ip_pool.start }}-{{ client_ip_pool.stop.split('.')[3] }}
{%     endif %}
{%     if client_ip_pool.subnet is vyos_defined %}
{%         for subnet in client_ip_pool.subnet %}
{{ subnet }}
{%         endfor %}
{%     endif %}
{% endif %}
