{% if name_server_ipv4 is vyos_defined %}
[dns]
{%     for ns in name_server_ipv4 %}
dns{{ loop.index }}={{ ns }}
{%     endfor %}
{% endif %}

{% if name_server_ipv6 is vyos_defined %}
[ipv6-dns]
{%     for ns in name_server_ipv6 %}
{{ ns }}
{%     endfor %}
{% endif %}
