{% if client_ipv6_pool is defined and client_ipv6_pool is not none %}
[ipv6-nd]
AdvAutonomousFlag=1

{%   if client_ipv6_pool.prefix is defined and client_ipv6_pool.prefix is not none %}
[ipv6-pool]
{%     for prefix, options in client_ipv6_pool.prefix.items() %}
{{ prefix }},{{ options.mask }}
{%     endfor %}
{%     if client_ipv6_pool.delegate is defined and client_ipv6_pool.delegate is not none %}
{%       for prefix, options in client_ipv6_pool.delegate.items() %}
delegate={{ prefix }},{{ options.delegation_prefix }}
{%       endfor %}
{%     endif %}
{%   endif %}
{%   if client_ipv6_pool.delegate is defined and client_ipv6_pool.delegate is not none %}
[ipv6-dhcp]
verbose=1
{%   endif %}
{% endif %}
