{% if client_ipv6_pool is vyos_defined %}
[ipv6-nd]
AdvAutonomousFlag=1
verbose=1

[ipv6-pool]
{%     for pool_name, pool_config in client_ipv6_pool.items() %}
{%         if pool_config.prefix is vyos_defined %}
{%             for prefix, options in pool_config.prefix.items() %}
{{ prefix }},{{ options.mask }},name={{ pool_name }}
{%             endfor %}
{%         endif %}
{%         if pool_config.delegate is vyos_defined %}
{%             for prefix, options in pool_config.delegate.items() %}
delegate={{ prefix }},{{ options.delegation_prefix }},name={{ pool_name }}
{%             endfor %}
{%         endif %}
{%     endfor %}
[ipv6-dhcp]
verbose=1
{% endif %}
