[Unit]
After=
After=vyos-router.service
ConditionPathExists=
ConditionPathExists=/run/vpp/vpp.conf

[Service]
EnvironmentFile=
ExecStart=
ExecStart=/usr/bin/vpp -c /run/vpp/vpp.conf
WorkingDirectory=
WorkingDirectory=/run/vpp
Restart=always
RestartSec=10
