Source: vyos-utils
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 9),
  quilt
Standards-Version: 3.9.6

Package: vyos-utils
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends}
Description: VyOS utils for value validation and other things
  VyOS utils for value validation and other things
