#!/usr/bin/make -f

DIR := debian/vyos-smoketest
VYOS_BIN_DIR := usr/bin/
VYOS_LIBEXEC_DIR := usr/libexec/vyos
VYOS_DATA_DIR := /usr/share/vyos
VYOS_CFG_TMPL_DIR := /opt/vyatta/share/vyatta-cfg/templates
VYOS_OP_TMPL_DIR := /opt/vyatta/share/vyatta-op/templates

MIGRATION_SCRIPTS_DIR := /opt/vyatta/etc/config-migrate/migrate/

%:
	dh $@ --with python3, --with quilt

override_dh_auto_build:
	make all

override_dh_auto_install:
	# Install smoke test scripts
	mkdir -p $(DIR)/$(VYOS_LIBEXEC_DIR)/tests/smoke/
	cp -r scripts/* $(DIR)/$(VYOS_LIBEXEC_DIR)/tests/smoke

	# Install system programs
	mkdir -p $(DIR)/$(VYOS_BIN_DIR)
	cp -r bin/* $(DIR)/$(VYOS_BIN_DIR)
