{%  if ipsec_interfaces is defined and 'interface' in ipsec_interfaces %}
{%      set interfaces = ipsec_interfaces['interface'] %}
charon {
    interfaces_use = {{ ', '.join(interfaces) if interfaces is not string else interfaces }}
}
{%  endif %}