# username  server  password  acceptable local IP addresses   shaper
{% for aifc in auth['auth_if'] -%}
{% for mac in auth['auth_if'][aifc] -%}
{% if (auth['auth_if'][aifc][mac]['up']) and (auth['auth_if'][aifc][mac]['down']) -%}
{% if auth['auth_if'][aifc][mac]['vlan'] -%}
{{aifc}}.{{auth['auth_if'][aifc][mac]['vlan']}}	*	{{mac.lower()}}	*	{{auth['auth_if'][aifc][mac]['down']}}/{{auth['auth_if'][aifc][mac]['up']}}
{% else -%}
{{aifc}}	*	{{mac.lower()}}	*	{{auth['auth_if'][aifc][mac]['down']}}/{{auth['auth_if'][aifc][mac]['up']}}
{% endif -%}
{% else -%}
{% if auth['auth_if'][aifc][mac]['vlan'] %}
{{aifc}}.{{auth['auth_if'][aifc][mac]['vlan']}}	*	{{mac.lower()}}	*
{% else -%}
{{aifc}}	*	{{mac.lower()}}	*
{% endif -%}
{% endif -%}
{% endfor -%}
{% endfor -%}
