{{ config_render['log-file'] }} {
  missingok
  notifempty
  create
  rotate {{ config_render['max-files'] }}
  size={{ config_render['max-size'] // 1024 }}k
  postrotate
    invoke-rc.d rsyslog rotate > /dev/null
  endscript
}

