ACTION!="add|change|move", GOTO="igos_eth_pin_end"
SUBSYSTEM!="net",          GOTO="igos_eth_pin_end"
KERNEL!="eth*|en*|e*",     GOTO="igos_eth_pin_end"

IMPORT{program}="/usr/lib/udev/igos-eth-port-id %p"
ENV{IGOS_ETH_PORT}=="?*", NAME="$env{IGOS_IFNAME}"

LABEL="igos_eth_pin_end"
