{
    "Dhcp4": {
        "interfaces-config": {
{% if listen_address is vyos_defined %}
            "interfaces": {{ listen_address | kea_address_json }},
            "dhcp-socket-type": "udp",
{% elif listen_interface is vyos_defined %}
            "interfaces": {{ listen_interface | tojson }},
            "dhcp-socket-type": "raw",
{% else %}
            "interfaces": [ "*" ],
            "dhcp-socket-type": "raw",
{% endif %}
            "service-sockets-max-retries": 60,
            "service-sockets-retry-wait-time": 5000
        },
        "control-socket": {
{% if vrf_context is vyos_defined %}
            "socket-type": "unix",
            "socket-name": "/run/kea/dhcp4-{{ vrf_context }}-ctrl-socket"
{% else %}
            "socket-type": "unix",
            "socket-name": "/run/kea/dhcp4-ctrl-socket"
{% endif %}
        },
        "lease-database": {
            "type": "memfile",
            "persist": true,
            "name": "{{ lease_file }}"
        },
        "option-def": [
            {
                "name": "wpad-url",
                "code": 252,
                "type": "string"
            },
            {
                "name": "unifi-controller",
                "code": 1,
                "type": "ipv4-address",
                "space": "ubnt"
            }
        ],
{% if dynamic_dns_update is vyos_defined %}
        "dhcp-ddns": {
            "enable-updates": true,
            "server-ip": "127.0.0.1",
            "server-port": 53001,
            "sender-ip": "",
            "sender-port": 0,
            "max-queue-size": 1024,
            "ncr-protocol": "UDP",
            "ncr-format": "JSON"
        },
        {{ dynamic_dns_update | kea_dynamic_dns_update_main_json }}
{% endif %}
        "hooks-libraries": [
{% if high_availability is vyos_defined %}
            {
                "library": "/usr/lib/{{ machine }}-linux-gnu/kea/hooks/libdhcp_ha.so",
                "parameters": {
                    "high-availability": [{{ high_availability | kea_high_availability_json }}]
                }
            },
{% endif %}
{% if hostfile_update is vyos_defined %}
            {
                "library": "/usr/lib/{{ machine }}-linux-gnu/kea/hooks/libdhcp_run_script.so",
                "parameters": {
                    "name": "/usr/libexec/vyos/system/on-dhcp-event.sh",
                    "sync": false
                }
            },
{% endif %}
            {
                "library": "/usr/lib/{{ machine }}-linux-gnu/kea/hooks/libdhcp_ping_check.so",
                "parameters": {
                    "enable-ping-check" : false,
                    "min-ping-requests" : 1,
                    "reply-timeout" : 100,
                    "ping-cltt-secs" : 60,
                    "ping-channel-threads" : 0
                }
            },
            {
                "library": "/usr/lib/{{ machine }}-linux-gnu/kea/hooks/libdhcp_lease_cmds.so",
                "parameters": {}
            }
        ],
{% if shared_network_name is vyos_defined %}
        "shared-networks": {{ shared_network_name | kea_shared_network_json }}
{% endif %}
    }
}
