{% if boot_opts_config is vyos_defined %}
{%     if boot_opts_config %}
{%         set boot_opts_rendered = boot_opts_default + " " + boot_opts_config %}
{%     else %}
{%         set boot_opts_rendered = boot_opts_default %}
{%     endif %}
{% elif boot_opts != '' %}
{%     set boot_opts_rendered = boot_opts %}
{% else %}
{%     set boot_opts_rendered = boot_opts_default %}
{% endif %}
menuentry "{{ version_name }}" --id {{ version_uuid }} {
    set boot_opts="{{ boot_opts_rendered }}"
    if [ "${console_type}" == "ttyS" ]; then
        set console_opts="console=${console_type}${console_num},${console_speed}"
    else
        set console_opts="console=${console_type}${console_num}"
    fi
    # load rootfs to RAM
    if [ "${boot_toram}" == "yes" ]; then
        set boot_opts="${boot_opts} toram"
    fi
    if [ "${bootmode}" == "pw_reset" ]; then
        set boot_opts="${boot_opts} ${console_opts} init=/usr/libexec/vyos/system/standalone_root_pw_reset"
    elif [ "${bootmode}" == "recovery" ]; then
        set boot_opts="${boot_opts} ${console_opts} init=/usr/bin/busybox init"
    else
        set boot_opts="${boot_opts} ${console_opts}"
    fi
    linux "/boot/{{ version_name }}/vmlinuz" ${boot_opts}
    initrd "/boot/{{ version_name }}/initrd.img"
}
