#!/bin/sh

# As PPPoE is an "on demand" interface we need to re-configure it when it
# becomes up
if [ "$6" != "{{ intf }}" ]; then
    exit
fi

# add some info to syslog
DIALER_PID=$(cat /var/run/{{ intf }}.pid)
logger -t pppd[$DIALER_PID] "executing $0"

# Determine if we are enslaved to a VRF, this is needed to properly insert
# the default route
VRF_NAME=""
if [ -d /sys/class/net/{{ intf }}/upper_* ]; then
    # Determine upper (VRF) interface
    VRF=$(basename $(ls -d /sys/class/net/{{ intf }}/upper_*))
    # Remove upper_ prefix from result string
    VRF=${VRF#"upper_"}
    # Populate variable to run in VR context
    VRF_NAME="vrf ${VRF_NAME}"
fi

# Always delete default route when interface goes down
vtysh -c "conf t" ${VRF_NAME} -c "no ip route 0.0.0.0/0 {{ intf }} ${VRF_NAME}"
