Welcome to iGOS.

   ┌───┐
   │ Perle iGOS {{ version_data.version }}
   ├───┘        {{ version_data.release_train }}
   │ 

Modify the default banner using "set system login banner post-login" command.
