Welcome to VyOS!

   ┌── ┐
   . VyOS {{ version_data.version }}
   └ ──┘  {{ version_data.release_train }}

 * Documentation:  https://docs.vyos.io/en/{{ version_data.release_train | replace('current', 'latest') }}
 * Project news:   https://blog.vyos.io
 * Bug reports:    https://vyos.dev

You can change this banner using "set system login banner post-login" command.

VyOS is a free software distribution that includes multiple components,
you can check individual component licenses under /usr/share/doc/*/copyright
