{% if authentication.otp.key is vyos_defined %}
{{ authentication.otp.key | upper }}
" RATE_LIMIT {{ authentication.otp.rate_limit }} {{ authentication.otp.rate_time }}
" WINDOW_SIZE {{ authentication.otp.window_size }}
" DISALLOW_REUSE
" TOTP_AUTH
{% endif %}
