# WPA supplicant config
network={
    ssid="{{ ssid }}"
{% if security is defined and security.wpa is defined and security.wpa.passphrase is defined %}
    psk="{{ security.wpa.passphrase }}"
{% else %}
    key_mgmt=NONE
{% endif %}
}
