[Unit]
Description=Kea IPv6 DHCP daemon
Documentation=man:kea-dhcp6(8)
Wants=network-online.target
After=vyos-router.service

[Service]
User=root
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment="KEA_DHCP_DATA_DIR=/config/dhcp"
Environment="KEA_HOOK_SCRIPTS_PATH=/usr/libexec/vyos/system"
Environment="KEA_LOCKFILE_DIR=/run/lock/kea"
ExecStart=/usr/libexec/vyos/system/kea-vrf-helper %i /usr/sbin/kea-dhcp6 -c /var/run/kea/kea-%i-dhcp6.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
