[Unit]
Description=Kea IPv6 DHCP daemon
Documentation=man:kea-dhcp6(8)
Wants=network-online.target
After=vyos-router.service

[Service]
User=_kea
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment="KEA_LOCKFILE_DIR=/run/lock/kea"
ConfigurationDirectory=kea
RuntimeDirectory=kea lock/kea
RuntimeDirectoryPreserve=yes
LogsDirectory=kea
LogsDirectoryMode=0750
StateDirectory=kea
ExecStart=sudo /bin/ip vrf exec %i /usr/sbin/kea-dhcp6 -c /run/kea/kea-%i-dhcp6.conf
ExecStartPost=/bin/sh -c 'sleep 10 && sudo /usr/bin/chown _kea:_kea /run/kea/dhcp6-%i-ctrl* && sudo /usr/bin/chown _kea:_kea /run/kea/kea-%i-dhcp6* && sudo /usr/bin/chown _kea:_kea /run/kea/logger_lockfile'
Restart=on-failure

[Install]
WantedBy=multi-user.target
