name: Check for unused imports using Pylint
on:
  pull_request_target:
    branches:
      - sagitta
    paths:
      - '**'
      - '!.github/**'
      - '!**/*.md'
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: read

jobs:
  check-unused-imports:
    uses: vyos/.github/.github/workflows/check-unused-imports.yml@sagitta
    secrets: inherit
